/*-- scss:defaults --*/

@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,500,500i,700,700i);
@import url(https://cdn.rawgit.com/tonsky/FiraCode/1.204/distr/fira_code.css);

$font-family-sans-serif: 'Fira Sans','Droid Serif', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', serif;

$presentation-font-size-root: 32px;

/*-- scss:rules --*/

.no-logo > .slide-logo {
  max-height: 150px !important;
}

.reveal .slide-logo {
  max-height: 150px !important;
  bottom: unset;
  top: 0;
}

.reveal .title-slide h1 {
  font-size: 9rem !important;
}

#title-slide {
  h1 {
    text-align: left;
    font-weight: 400;
    font-size: 50px;
  }
  
  .subtitle {
    text-align: left;
    font-size: 40px;
    
    &:after {
      content: '';
      display: block;
      border: none;
      background-color: #EB811B;
      color: #EB811B;
      height: 1px;
    }
  }
  
  .date {
    text-align: left;
  }
}
